.footer {
    width: 1440px;
    height: 350px;
    background-color: #F4F4F4;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;

&__container {
    @include container;
    &_end {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.1em;
            color: #000000;
            margin-left: 428px;
        }
}
&__wrapper {
    @include flex;
    justify-content: space-between;
    padding-top: 70px;

&_left {
    
&-title {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: #000000;
}
}
}
}
.item {
    text-decoration: none;

&__instagram,
&__facebook,
&__twitter {
    width: 50px;
    height: 50px;
    border: 1px solid #565656;   
    padding: 10px; 
    margin-right: 13px;
}
&__lin {
    width: 50px;
    height: 50px;
    border: 1px solid #565656;
    padding: 10px;
}
}
