.header {  
    &__container {
        @include container;
        margin: 0 auto;

    &_logo {
        margin-right: 428px;

    &--size {
        width: 142px;
            height: 12px;
    }
    }

    &_wrapper {
        @include flex;
        justify-content: space-between;
        align-items: center;
    }
    &_menu {
        display: inline-block;
        vertical-align: middle;
        list-style: none;           

    &-a {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.3em;
        color: $black;
        margin-right: 42px;
        text-decoration: none;
    }
    }
    &_search {
        margin-left: 42px;
    }       
    }    
    }
