@mixin container {
    width: 92%;
    max-width: 1170px;
    margin: 0 auto;
    width: 91%;
}
@mixin flex {
    display: flex;
}
@mixin relative {
    position: relative;
}
@mixin absolut {
    position: absolute;    
}

