.section6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;

    &__container {
        @include container;  
        margin-bottom: 90px      
    }

    &__wrapper {
        @include flex;
        justify-content: space-between;
        gap: 30px;
        
        &_left {
            max-width: 470px;  
            font-family: 'Red Hat Display';
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #000000;
        }

        &_right {
            max-width: 470px;

        & p {
            :first-child {
                margin-bottom: 40px;
            }
        & p {
            margin: 0;
        }
        }
        }        
    }   
}