.second {
    &_container {
        @include container;
    }
    &_wrapper {
        @include flex;
        flex-direction: column;
    }
    &_right {
        width: 50%;
    }
    &_left {
        width: 50%;
    }
    &_text {
        max-width: 448px;
    }
    &_title {
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        font-size: 23px;
        line-height: 166%;
        color: $black;
    }
}