.between {
    
&__container {
    @include container;
    margin-top: 40px;

@media screen and (max-width:$tablet) {
        max-width: 700px;
    }
    @media screen and (max-width:$mobile) {
        max-width: unset;
        width: 100%;
        padding: 0 10px;
        text-align: center;
    }

&_title {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: $black;
    padding-bottom: 50px
}
}

&__wrapper {
    @include flex; 
    justify-content: space-between;
@media screen and (max-width:$mobile) {
        flex-direction: column;
        align-items: flex-start;
    }
    
&_left{    
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $black;

&--down {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $black;
    margin-bottom: 50px;
    @media screen and (max-width:$mobile) {
            margin-bottom: 10px;
        }
}
}

&_right {    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $lightgrey;
@media screen and (max-width:$mobile) {
        margin-bottom: 30px;
    }

&:hover {
        color: $black;
    }

&-svg {

    fill:$lightgrey;

    &:hover {
    fill: $black;
    }
}
}
}
}