.section4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: #565656;

&__container {
    @include container;
    margin-bottom: 72px;

@media screen and (max-width:$tablet) {
    max-width: 700px;
    }
}
&__wrapper {
    @include flex;
    justify-content: space-between;
    gap: 30px;

@media screen and (max-width:$tablet) {
        justify-content: center;
        flex-direction: column;
    }

&_center {
    @media screen and (max-width:$tablet) {
    @include flex;
}
}

&_left {
    @media screen and (max-width:$tablet) {
    @include flex;
}

&-photo {
@media screen and (max-width:$tablet) {
        width: 50%;
    }
}
&-text {
    @media screen and (max-width:$tablet) {
        width: 50%;
    }
}
&--wrap {
    @include flex;
    justify-content: space-between;
    margin-top: 25px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7B7B7B;
}
&-title {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
}
}  
&_center {
    @media screen and (max-width:$tablet) {
    @include flex;
}
}
&_right {
    @media screen and (max-width:$tablet) {
        @include flex;
    }
}
}
}

.picture {
    
&--width {
    width: 340px;        
}
}