.section2 {
    margin-bottom: 50px;

    &__container {
        @include container;
    
    }
    &__wrapper {
        @include flex;
        flex-direction: row;
    
    &_right {
        width: 50%;  
    }
    &_left {
        width: 50%;
    }
    }
    }
    .content {
    &__block {
        max-width: 448px;
        margin-left: auto;
        margin-right: 30px;

    &--left {
        margin-left: 30px;
        margin-right: 0;
    }

    &_text {
        max-width: 448px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.05em;
        color: #565656;

    &-arrow {
        margin-left: 10px;
    }
    }

    &_title {
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        font-size: 23px;
        line-height: 166%;
        color: $black;
    }
    }
    } 