.between {
    
&__container {
    @include container;
    margin-top: 40px;

@media screen and (max-width:$tablet) {
        max-width: 700px;
    }

&_title {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: #000000;
}
}

&__wrapper {
    @include flex; 
    justify-content: space-between;
    
&_left{    
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;

&--down {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 50px;
}
}

&_right {    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7B7B7B;
}
}
}