.section5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: #565656;
    
    &__container {
        @include container;
        margin-top: 46px;

    @media screen and (max-width:$tablet) {
        max-width: 700px;
    }
    }

    &__wrapper {
        @include flex;
        justify-content: space-between;
        gap: 30px;

        &_right {
            width: 50%;
        }

        &_left {
            width: 50%;

            &-photo {
                max-width: 100%;
                @media screen and(max-width:$tablet) {
                    width:340px;
                }
            }

            &--wrap {
                @include flex;
                justify-content: space-between;
                margin-top: 20px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 166%;
                letter-spacing: 0.1em;
                color: #7B7B7B;
            }

            &-title {
                font-family: 'Red Hat Display';
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 166%;
                letter-spacing: 0.1em;
                color: #000000;
            }
        }
    }
&__button {
    margin-left: 495px;
    margin-top: 54px;
    margin-bottom: 90px;

@media screen and(max-width:$tablet) {
        margin-left: 260px;
    }
    
&_item {
    width: 180px;
    height: 46px;
    background: #565656;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;

&:hover {
    background: #323232;
}
}
}
}