.section4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: $grey;

&__container {
    @include container;
    margin-bottom: 72px;

@media screen and (max-width:$tablet) {
    max-width: 700px;
    }
@media screen and (max-width:$mobile) {
    max-width: unset;
    width: 100%;
    padding: 0 10px;
}
}
&__wrapper {
    @include flex;
    justify-content: space-between;
    gap: 30px;    

@media screen and (max-width:$tablet) {
        justify-content: center;
        flex-direction: column;
    }

&_center {
    @media screen and (max-width:$tablet) {
    @include flex;
}
@media screen and (max-width:$mobile) {
    @include flex;
    flex-direction: column;
}
}

&_left {
    @media screen and (max-width:$tablet) {
    @include flex;
}
@media screen and (max-width:$mobile) {
    @include flex;
    flex-direction: column;
}

&-photo {
@media screen and (max-width:$tablet) {
    width: 50%;
    }
@media screen and (max-width:$mobile) {
    width: 100%;
}
}
&-text {    
    @media screen and (max-width:$tablet) {
        width: 50%;
    }
    @media screen and (max-width:$mobile) {
    width: 100%;
}
}
&--wrap {
    @include flex;
    justify-content: space-between;
    margin-top: 25px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $lightgrey;
    margin-top: 25px;
    margin-bottom: 25px;
}
&-title {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: $black;
    margin-bottom: 20px;
}
}  
&_center {
    @media screen and (max-width:$tablet) {
    @include flex;
}
}
&_right {
    @media screen and (max-width:$tablet) {
        @include flex;
    }
@media screen and (max-width:$mobile) {
    @include flex;
    flex-direction: column;
}
}
}
}
.picture {
&--width {
    @media screen and (max-width:$mobile) {
            width: 100%;
}
}
}

