.section6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: $grey;

    &__container {
        @include container;  
        margin-bottom: 90px ;   
        
    @media screen and (max-width:$tablet) {
            max-width: 700px;
        }
    @media screen and (max-width:$mobile) {
            max-width: unset;
            width: 100%;
            padding: 0 10px;
        }
    }

    &__wrapper {
        @include flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 30px;

    @media screen and (max-width:$tablet) {
            justify-content: center;
            flex-direction: column;
        }
        
        &_left {
            max-width: 470px;  
            font-family: 'Red Hat Display';
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: $black;        
        }
        &_right {
            max-width: 470px;

        &-up {
            margin-bottom: 20px;
        }

    @media screen and (max-width:$tablet) {
        margin-left: auto;  
        text-align: end; 
        max-width: 100%;     
        }
    @media screen and (max-width:$mobile) {
            text-align: left;
            margin-right: auto;
            max-width: 100%;
            }
        }

        & p {
            :first-child {
                margin-bottom: 40px;
            }
        & p {
            margin: 0;
        }
        }        
    } 
    } 
        .block {    
            &__text {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 166.3%;
                letter-spacing: 0.1em;
                color: $black;
                margin-right: 8px;
                display: inline-block;        
                transition: transform .3s ease;
                transform: scale(0, 0);                 
            }
            &__svg {
                transform: translateX(-104px);
                transition: all .0.2s linear;
            }            
            &:hover {
                transform: translateX(0);
            .block__text {
                transform: scale(1, 1);
            }
            .block__svg {
                transform: translateX(0);
            }
            }
            }
        
    
    
