.section2 {
    margin-bottom: 50px;

    &__container {
        @include container;

    @media screen and (max-width:$tablet) {
            max-width: 700px;
        }
    @media screen and (max-width:$mobile) {
            max-width: 300px;
        }
    }
    &__wrapper {
        @include flex;
        align-items:center;
        flex-direction: row;

    @media screen and (max-width:$mobile) {
            justify-content: center;
            flex-direction: column;    
        }
    
    &_right {
    @media screen and (max-width:$tablet) {
            max-width: 50%;
        }
    }
    &_left {
    @media screen and (max-width:$tablet) {
        max-width: 50%;
    }
    &-photo {        
    @media screen and (max-width:$tablet) {
        max-width: 100%;
    }
        @media screen and (max-width:$mobile) {
            max-width: 100%;
        }
    }
    }
    }
    }
    .content {
    &__block {
        max-width: 448px;
        margin-left: auto;
        margin-right: 30px;

    &--left {
        margin-left: 30px;
        margin-right: 0;
    }

    &_text {
        max-width: 448px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.05em;
        color: #565656;

    &-arrow {
        margin-left: 10px;
    }
    }

    &_title {
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        font-size: 23px;
        line-height: 166%;
        color: $black;
    }
    }
    } 