.header {
    background-color: green;
}

@media (max-width: 760px) {
    .header {
        background-color: red;
    }
}
@media (min-width: 760px) and (max-width: 1400px) {
    .header {
        background-color: yellow;
    }
}
@media (min-width: 1400px) {
    .header {
        background-color: blue;
    }
}

