body {
  margin: 0;
}

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
}

.header__container {
  width: 92%;
  max-width: 1170px;
  margin: 0 auto;
  width: 91%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .header__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .header__container_logo {
    margin-left: 34px;
  }
}
.header__container_logo--size {
  max-width: 141px;
  max-height: 12px;
}
.header__container_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container_wrapper-wrap {
  display: flex;
  align-items: center;
}
.header__menu {
  margin-right: 84px;
  display: none;
}
@media screen and (min-width: 992px) {
  .header__menu {
    display: flex;
  }
}
.header__menu_list {
  list-style: none;
}
.header__menu_item {
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .header__menu_item {
    padding-bottom: 5px;
  }
  .header__menu_item:after {
    content: "";
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 0;
    height: 1px;
    background-color: transparent;
    transition: background-color 0.3s linear;
  }
  .header__menu_item:hover:after {
    background-color: #000000;
  }
}
.header__menu_item + .header__menu_item {
  margin-left: 42px;
}
.header__menu_link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.header__burger {
  display: flex;
  align-items: center;
  margin-left: 40px;
  position: absolute;
  width: 34px;
  height: 20px;
  background-color: transparent;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  /*border-color: transparent;
  &:before {
      transform: rotate(45deg);
  }
  &:after {
      opacity: 1;
      transform: rotate(-45deg);
  }*/
}
@media screen and (min-width: 992px) {
  .header__burger {
    display: none;
  }
}
.header__burger:before, .header__burger:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition: all 0.3s linear;
}
.header__burger:after {
  opacity: 0;
}

.search {
  position: relative;
  background: transparent;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  overflow: hidden;
}
.search:hover {
  border-bottom: 1px solid #000000;
}
.search:hover .search__input {
  opacity: 1;
  transform: translateX(0);
  border: none;
  width: 178px;
  position: relative;
}
.search__input {
  opacity: 0;
  transform: translateX(100%);
  position: absolute;
  outline: none;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 166.3%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  transition: all 0.3s ease;
}

/*&_menu {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding-top: 42px;
    padding-bottom: 42px;

    &-a {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.3em;
        color: $black;
        margin-right: 42px;
        text-decoration: none;

        &:active {
            text-decoration: underline;
        }
    }
}*/
.section1 {
  margin-bottom: 50px;
}
.section1__container {
  width: 92%;
  max-width: 1170px;
  margin: 0 auto;
  width: 91%;
}
@media screen and (max-width: 768px) {
  .section1__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 576px) {
  .section1__container {
    max-width: unset;
    width: 100%;
    padding: 0 10px;
  }
}
.section1__wrapper {
  position: relative;
}
.section1__wrapper_photo {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .section1__wrapper_photo {
    width: 320px;
    height: 500px;
  }
}
.section1__title {
  position: absolute;
  max-width: 770px;
  top: 200px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .section1__title {
    top: 90px;
    font-size: 36px;
    line-height: 50px;
  }
}
@media screen and (max-width: 576px) {
  .section1__title {
    top: 70px;
    font-size: 30px;
    line-height: 50px;
  }
}

.between__container {
  width: 92%;
  max-width: 1170px;
  margin: 0 auto;
  width: 91%;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .between__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 576px) {
  .between__container {
    max-width: unset;
    width: 100%;
    padding: 0 10px;
    text-align: center;
  }
}
.between__container_title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-bottom: 50px;
}
.between__wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .between__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
.between__wrapper_left {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.between__wrapper_left--down {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 50px;
}
@media screen and (max-width: 576px) {
  .between__wrapper_left--down {
    margin-bottom: 10px;
  }
}
.between__wrapper_right {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
@media screen and (max-width: 576px) {
  .between__wrapper_right {
    margin-bottom: 30px;
  }
}
.between__wrapper_right:hover {
  color: #000000;
}
.between__wrapper_right-svg {
  fill: #7B7B7B;
}
.between__wrapper_right-svg:hover {
  fill: #000000;
}

.section2 {
  margin-bottom: 50px;
}
.section2__container {
  width: 92%;
  max-width: 1170px;
  margin: 0 auto;
  width: 91%;
}
@media screen and (max-width: 768px) {
  .section2__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 576px) {
  .section2__container {
    max-width: unset;
    width: 100%;
    padding: 0 10px;
  }
}
.section2__wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 576px) {
  .section2__wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .section2__wrapper_right {
    max-width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .section2__wrapper_right {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section2__wrapper_left {
    max-width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .section2__wrapper_left {
    width: 100%;
    order: 2;
    max-width: unset;
  }
}
@media screen and (max-width: 768px) {
  .section2__wrapper_left-photo {
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .section2__wrapper_left-photo {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .content {
    order: 1;
    max-width: unset;
    margin-left: 0;
  }
}
.content__block {
  max-width: 448px;
  margin-left: auto;
  margin-right: 30px;
}
@media screen and (max-width: 576px) {
  .content__block {
    margin: 0;
  }
}
.content__block_subtitle {
  max-width: 448px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #565656;
}
.content__block_title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 166%;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 15px;
}
.content__block_down {
  max-width: 448px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
  margin-bottom: 50px;
}
@media screen and (max-width: 576px) {
  .content__block_down {
    margin-top: 40px;
  }
}
.content__block_down-arrow {
  margin-left: 10px;
}
.content__block_left {
  max-width: 448px;
  margin-left: 30px;
  margin-right: auto;
}
@media screen and (max-width: 576px) {
  .content__block_left {
    margin: 0;
  }
}
.content__block_left-subtitle {
  max-width: 448px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #565656;
}
.content__block_left-title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 166%;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 15px;
}
.content__block_left-down {
  max-width: 448px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
  margin-bottom: 50px;
}
@media screen and (max-width: 576px) {
  .content__block_left-down {
    margin-top: 40px;
  }
}
.content__block_left-arrow {
  margin-left: 10px;
}

.section4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
.section4__container {
  width: 92%;
  max-width: 1170px;
  margin: 0 auto;
  width: 91%;
  margin-bottom: 72px;
}
@media screen and (max-width: 768px) {
  .section4__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 576px) {
  .section4__container {
    max-width: unset;
    width: 100%;
    padding: 0 10px;
  }
}
.section4__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .section4__wrapper {
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .section4__wrapper_center {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .section4__wrapper_center {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .section4__wrapper_left {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .section4__wrapper_left {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .section4__wrapper_left-photo {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .section4__wrapper_left-photo {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section4__wrapper_left-text {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .section4__wrapper_left-text {
    width: 100%;
  }
}
.section4__wrapper_left--wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-top: 25px;
  margin-bottom: 25px;
}
.section4__wrapper_left-title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .section4__wrapper_center {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .section4__wrapper_right {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .section4__wrapper_right {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .picture--width {
    width: 100%;
  }
}

.section5 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
.section5__container {
  width: 92%;
  max-width: 1170px;
  margin: 0 auto;
  width: 91%;
  margin-top: 46px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section5__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 576px) {
  .section5__container {
    max-width: unset;
    width: 100%;
    padding: 0 10px;
  }
}
.section5__wrapper {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 30px;
}
@media screen and (max-width: 576px) {
  .section5__wrapper {
    display: flex;
    flex-direction: column;
  }
}
.section5__wrapper_right {
  width: 50%;
}
@media screen and (max-width: 576px) {
  .section5__wrapper_right {
    width: 100%;
  }
}
.section5__wrapper_right-photo {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .section5__wrapper_right-photo {
    width: 340px;
  }
}
@media screen and (max-width: 576px) {
  .section5__wrapper_right-photo {
    width: 100%;
  }
}
.section5__wrapper_left {
  width: 50%;
}
@media screen and (max-width: 576px) {
  .section5__wrapper_left {
    width: 100%;
  }
}
.section5__wrapper_left-photo {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .section5__wrapper_left-photo {
    width: 340px;
  }
}
@media screen and (max-width: 576px) {
  .section5__wrapper_left-photo {
    width: 100%;
    margin-top: -50px;
  }
}
.section5__wrapper_left--wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.section5__wrapper_left-title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 20px;
}
.section5__button {
  margin-top: 54px;
  margin-bottom: 90px;
}
.section5__button_item {
  width: 180px;
  height: 46px;
  background: #565656;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #F4F4F4;
  border: none;
}
.section5__button_item:hover {
  background: #323232;
}

.section6 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}
.section6__container {
  width: 92%;
  max-width: 1170px;
  margin: 0 auto;
  width: 91%;
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .section6__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 576px) {
  .section6__container {
    max-width: unset;
    width: 100%;
    padding: 0 10px;
  }
}
.section6__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .section6__wrapper {
    justify-content: center;
    flex-direction: column;
  }
}
.section6__wrapper_left {
  max-width: 470px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.section6__wrapper_right {
  max-width: 470px;
}
.section6__wrapper_right-up {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .section6__wrapper_right {
    margin-left: auto;
    text-align: end;
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .section6__wrapper_right {
    text-align: left;
    margin-right: auto;
    max-width: 100%;
  }
}
.section6__wrapper p :first-child {
  margin-bottom: 40px;
}
.section6__wrapper p p {
  margin: 0;
}

.block__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166.3%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-right: 8px;
  display: inline-block;
  transition: transform 0.3s ease;
  transform: scale(0, 0);
}
.block__text:hover {
  transform: scale(1, 1);
}
.block__svg {
  transform: translateX(-104px);
  transition: all 0 0.2s linear;
}
.block__svg:hover {
  transform: translateX(0);
}
.block:hover {
  transform: scale(1, 1);
}

.footer {
  background-color: #F4F4F4;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  text-align: center;
  padding: 70px 0 30px;
}
.footer__container {
  width: 92%;
  max-width: 1170px;
  margin: 0 auto;
  width: 91%;
}
@media screen and (max-width: 768px) {
  .footer__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 576px) {
  .footer__container {
    max-width: unset;
    width: 100%;
    padding: 0 10px;
    text-align: center;
  }
}
.footer__container_end {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-top: 26px;
}
@media screen and (max-width: 576px) {
  .footer__container_end {
    max-width: 300px;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer__wrapper {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
.footer__wrapper_right {
  margin-top: 51px;
  margin-bottom: 40px;
}
.footer__wrapper_left {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .footer__wrapper_left {
    text-align: center;
  }
}
.footer__wrapper_left-title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
.footer__wrapper_left-data {
  margin-top: 30px;
  margin-bottom: 15px;
}

.item {
  text-decoration: none;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  padding: 10px;
  margin-right: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #F4F4F4;
}
.item:hover {
  background: #565656;
}
.item :last-child {
  margin-right: 0;
}
.item__instagram {
  width: 26px;
  height: 24px;
}
.item__instagram_path {
  fill: #565656;
}
.item__instagram_path:hover {
  fill: #F4F4F4;
}
.item__facebook {
  width: 26px;
  height: 24px;
}
.item__facebook_path {
  fill: #565656;
}
.item__facebook_path:hover {
  fill: #F4F4F4;
}
.item__twitter {
  width: 26px;
  height: 24px;
}
.item__twitter_path {
  fill: #565656;
}
.item__twitter_path:hover {
  fill: #F4F4F4;
}
.item__lin {
  width: 26px;
  height: 24px;
}
.item__lin_path {
  fill: #565656;
}
.item__lin_path:hover {
  fill: #F4F4F4;
}
.item__facebook {
  width: 14px;
  height: 24px;
}
.item__twitter {
  width: 30px;
  height: 24px;
}
.item__lin {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=style.css.map */