.main {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 1440px;

&__container {
    @include container;
    text-align: center;
    color:$gold;
    
&_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: $gold;
    margin-bottom: 40px;
    margin-top: 0;
}
&_line {
    @include flex;
}
&_flex {
    @include flex;
}
&_subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $subgrey;
    margin-top: 121px;
    margin-bottom: 15px;
}
}
}
.line {
&__hr {
    width: 210px;
    border: 1px solid $gold;
    margin-right: 6px;
}
&__hr-2 {
    width: 210px;
    margin-bottom: 110px;
    border: 1px solid $gold;
    margin-left: 6px;
}
}
.block {
    width: 50%;
    border-left: 1px solid $gold;
      
&--relative {
    position: relative;    
    height: 400px;
    width: 400px;
    padding: 15px;        
}
&__item--absolut--top-left {
    @include absolute;
    top: 0;
    left: 0;
    border-top: 1px solid $gold;
    border-left: 1px solid $gold;
}
&__item--absolut--top-right {
    @include absolute;
    top: 0;
    right: 0;
    border-top: 1px solid $gold;
    border-right: 1px solid $gold;
}
&__item--absolut--bottom-left {
    @include absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid $gold;
    border-left: 1px solid $gold;
}
&__item--absolut--bottom-right {
    @include absolute;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid $gold;
    border-right: 1px solid $gold;
}
&__name {
    position: relative;  
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: $grey;
    margin-bottom: 30px;
}
&__position {
    font-family: 'Raleway', sans-serif;;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
    color: $grey;
    margin-bottom: 30px;
}
&__hr3 {
    width: 100px;
    margin-bottom: 30px;
    border: 1px solid $gold;
}
&__links {
    margin-bottom: 49px;

&_socials {
    margin-right: 5px;
    text-decoration: none;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background: $white;
    border: 2px solid $lightgrey;
    border-radius: 50%;
}
}
&__text {
    margin: 0 auto 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    max-width: 430px;
}

&__decor {
    margin-bottom: 28px;
}
&__button {
    width: 98px;
    height: 14px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: $grey;
    padding: 5px 10px 5px 10px;
    border: 1px solid $gold;
    margin-bottom: 195px;
}
}
.item {
    width: 26px;    
    padding: 9px;    
}
.photo {
    border: none;
}
/*.name:before {
    position: absolute;
    content:"";
    width: 100px;
    height: 1px;
    
    &--gold {
            color: $gold;
        }
}*/



