* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #FFFFFF;
}
.container-header {
    max-width: 1200px;
    margin: 0 auto;    
}
.all {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    height: 80px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container-main {
    max-width: 905px;
    margin: 0 auto;      
}
.main-image {
    position: fixed;
    right:0;    
}
.container-aside--list .list--li a {
    display: block;
    text-align: left;
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 10px;
}
.container-aside--list .list--li {
    margin-bottom: 70px;
}
.list--li {
    display: block;
    text-align: left;
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}
.block {
    display: flex;
    column-gap: 20px;
    position: relative;
    font-size: 28px;
    line-height: 48px;
}
.container-aside {
    max-width: 535px;
    min-width: 385px;
    margin-right: 30px;
}
.container-aside nav {
    position: sticky;
    top:0px;
    padding-top: 70px;
}
li {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
.eng {
    margin-top: 29px;
    margin-bottom: 30px;
    padding-right: 50px;
    font-family: 'Tourney', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;       
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.header--text {
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
}
.header div {    
    display: inline-block;    
}
.header {
    display: flex;
    align-items: center;
    padding: 13px 0;
    justify-content: space-between;
}
.title {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 40px;
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;         
    letter-spacing: 0.04em;
    text-transform: uppercase;    
}
.title:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 8px;    
    background: #000000;
    top: -28px;     
}
.title_2 {
    font-family: 'Farro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin-left: 10px;
    text-transform: none;
}
.text--underline {
    text-decoration: underline;
}
.text--italic {
    font-style: italic;
}
.text--bold {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
.text--gray {
    background-color: #DADADA;
}
.section_three div,
.section_four div {
    margin-bottom: 40px;
}
