@mixin relative {
    position: relative;    
}
@mixin absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@mixin container {
    width: 1320px;
}
@mixin inline {
    display: inline-block;
    vertical-align: middle;
}
@mixin flex {
    display: flex;
    align-items: center;
}