@mixin relative {
    position: relative;    
}
@mixin absolute {
    position: absolute;
}
@mixin container {
    max-width: 1320px;
}
@mixin inline {
    display: inline-block;
    vertical-align: middle;
}
@mixin flex {
    display: flex;
    align-items: center;
}