.section1 {
    @include relative;     
        
    &__photo {        
    @include absolute;
        
    &--size {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    }
    &__container {
        @include container;
        margin: 0 auto;
        @media screen and (max-width:$desktop) {
            max-width: unset;
            width: 100%;
            padding: 0 32px;
        }
        @media screen and (max-width:$tablet) {
            max-width: unset;
            width: 100%;
            padding: 0 24px;
        }
    }
    &__wrapper {
        @include relative;
        top: 124px 0;        
    }
    &__wrapper1 {
        @include flex;
    @media screen and (max-width:$tablet) {
            flex-direction: column;
        }
    }
}
.content { 
    &__left {
        order: 2;
        text-align: center;
        align-items: center;
    }
    &__right {
    @media screen and (max-width:$tablet) {
            @include flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            order: 1;
            padding-top: 60px;
            padding-bottom: 32px;
        }
    &_image {
        margin-left: 136px;
        margin-bottom: 16px;
        padding-top: 124px;
    @media screen and (max-width:$tablet) {
            margin: 0;
            padding: 0;
        }
        }
    &_item {
        margin-left: 210px;
        padding-bottom: 124px;
    @media screen and (max-width:$tablet) {
            margin: 0;
            padding: 0;
        }
    }
    }
    &__text_title {
        font-family: 'Aleo', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        color: $white;
        margin-bottom: 24px;
    }
    &__text_info {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.1em;
        color: $white;
        max-width: 648px;
        margin-bottom: 32px;
    @media screen and (max-width:$tablet) {
            max-width: none;
        }
    }
    &__text_button {        
        display: flex;              
        background: $blue;                
        border: none;
        @include relative;   
        text-align: center;
        padding: 0px 32px;
    @media screen and (max-width:$tablet) {
            margin: 0 auto;
            margin-bottom: 60px;
        }
      
    &::after {
        content: url(../img/Rectangle\ 8.png);
        @include relative; 
        left: -30px;
         
    }
    &--overlay {    
        @include absolute;
        top: 20px;        
        width: 100%;
        height: 100%;
        z-index: 1;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.07em;
        color: $white;
    }
    &:hover {
        background: $darkblue;
    }
    &:active {
        background: $yellow;
    }
    }
}
.part {
    &__text {
        margin-bottom: 30px;
    }
}