.section1 {
    @include relative;     
        
    &__photo {        
    @include absolute;
        
    &--size {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    }
    &__container {
        @include container;
        margin: 0 auto;
    }
    &__wrapper {
        @include relative;
        top: 124px 0;        
    }
    &__wrapper1 {
        @include flex;
    }
}
.content {   
    &__right {
        
    &_image {
        margin-left: 136px;
        margin-bottom: 16px;
        padding-top: 124px;
        }
    &_item {
        margin-left: 210px;
        padding-bottom: 124px;
    }
    }
    &__text_title {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        color: $white;
    }
    &__text_info {
        font-family: 'Josefin Sans';
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.1em;
        color: $white;
        max-width: 648px;
        margin-bottom: 32px;
    }
    &__text_button {        
        display: flex;              
        background: $blue;                
        border: none;
        @include relative;   
        text-align: center;
        padding: 0px 32px;
        
      
    &::after {
        content: url(../img/Rectangle\ 8.png);
        @include relative; 
        left: -30px;
         
    }
    &--overlay {    
        @include absolute;
        top: 20px;        
        width: 100%;
        height: 100%;
        z-index: 1;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.07em;
        color: $white;
    }
    &:hover {
        background: $darkblue;
    }
    &:active {
        background: $yellow;
    }
    }
}
.part {
    &__text {
        margin-bottom: 30px;
    }
}