.section2 {
    background: $darkgrey;
    background-repeat: no-repeat;
    background-position: center 59px;
    padding: 107px 0 59px 0;
    background-image: url(../img/Line.png);
    background-size: 50% 40% 50% 60%;
      
&__block {      
    width: 100%;
    object-fit: cover;
           
}
&__container {
        @include container;
        margin: 0 auto; 

    @media screen and (max-width: $desktopbig) {
        max-width: 1140;
    }
} 
}
.items { 
    text-align: center;  
    
    &__item {
        @include flex;        
        justify-content: space-between;
        padding-top: 20px;        
    }
    &__text {
        font-family: 'Aleo', sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        text-transform: capitalize;
        color: $white;
        padding-bottom: 60px;
    }
}
