.section5 {
    @include relative;

&__block {
    @include absolute;    

&_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}
&__position {
    @include relative;;
    padding: 120px 0 180px;
}  
&__container {
    @include container;
    margin: 0 auto;
@media screen and (max-width:$desktop) {
        max-width: unset;
        width: 100%;
        padding: 0 32px;
    }
@media screen and (max-width:$tablet) {
            max-width: unset;
            width: 100%;
            padding: 0 24px;
        }
} 
&__wrapper {
    @include flex;
@media screen and (max-width:$tablet) {
        flex-direction: column;
    }
&_photo {
    align-self: stretch;
    @include flex;
    align-items: center;
}
&_photo1 {
    height: 100%;
    object-fit: cover;
@media screen and (max-width:$desktop) {
        width: 320px;
        height: 336px;
    }
@media screen and (max-width:$tablet) {
    width: 100%;
}
}
}
&__name {
    font-family: 'Aleo', sans-serif;   
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: $white;
    margin-bottom: 60px;
}
&__content {
    background: $darkgrey;
    padding: 48px 65px 48px 60px;
    width: 57.3%;
@media screen and (max-width:$desktop) {
        width: 640px;
        height: 336px;;
    }
@media screen and (max-width:$tablet) {
        width: 100%;
}

&_title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: $white;
    margin: 0 0 16px;
    text-transform: uppercase;
}
&_text {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: $white;
}
}
}
.text {
    
    &__svg {
        width: 20px;
        height: 20px;
        fill: $blue;
        padding-right: 6px;    
    }
}