.section2 {
    background: #333333;    
      
&__block {      
    width: 100%;
    height: 306px;
    object-fit: cover
           
}

&__container {
        @include container;
        margin: 0 auto; 
} 
}
.items {   
   
    &__line {
        @include absolute;
        top: px;
    }
    &__item {
        width: 64px;
        height: 64px;
        @include flex;        
        justify-content: space-between;
    }
}
