*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__photo {
  position: relative;
  height: 862px;
}
.header__photo--size {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  top: 295px;
  left: 0;
  right: 0;
  max-width: 647px;
  margin: 0 auto;
}
.header__title {
  margin-bottom: 48px;
}
.header__title--white {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  color: #FFFFFF;
}
.header__title--subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  color: #FFFFFF;
  margin: 8px 0 0;
}
.header__block {
  width: 100%;
  background-color: #5373FD;
  padding: 32px 0;
}
.header__container {
  width: 1320px;
  margin: 0 auto;
}
.header__container--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  font-family: "Aleo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-right: 40px;
}
.header__list:last-child {
  margin-right: 0;
}
.header__list:hover {
  text-decoration: underline;
}
.header__list:active {
  color: yellow;
}
.header__scroll {
  margin-top: 211px;
}
.header__scroll_title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  margin-bottom: 7.86px;
}
.header__scroll__menu {
  padding: 0;
  margin: 0;
}
.header__scroll__logo {
  line-height: 20px;
  display: flex;
  align-items: center;
}

.menu--inline {
  display: inline-block;
  vertical-align: middle;
}

.form {
  background-color: #FFFFFF;
  padding: 4px 5px;
  display: flex;
}
.form__button {
  background: #5373FD;
  border: none;
  padding: 16px 24px;
  display: flex;
  align-items: center;
}
.form__button:hover {
  background: darkblue;
}
.form__button:active {
  background: yellow;
}
.form__svg {
  width: 16px;
  height: 16px;
  fill: #FFFFFF;
  margin-right: 12px;
}
.form__input {
  width: 503px;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
  border: none;
  outline: none;
  margin-left: 32px;
}
.form--search {
  font-family: "Aleo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.section1 {
  position: relative;
}
.section1__photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section1__photo--size {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section1__container {
  width: 1320px;
  margin: 0 auto;
}
.section1__wrapper {
  position: relative;
  top: 124px 0;
}
.section1__wrapper1 {
  display: flex;
  align-items: center;
}

.content__right_image {
  margin-left: 136px;
  margin-bottom: 16px;
  padding-top: 124px;
}
.content__right_item {
  margin-left: 210px;
  padding-bottom: 124px;
}
.content__text_title {
  font-family: "Aleo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
}
.content__text_info {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  max-width: 648px;
  margin-bottom: 32px;
}
.content__text_button {
  display: flex;
  background: #5373FD;
  border: none;
  position: relative;
  text-align: center;
  padding: 0px 32px;
}
.content__text_button::after {
  content: url(../img/Rectangle\ 8.png);
  position: relative;
  left: -30px;
}
.content__text_button--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 20px;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.content__text_button:hover {
  background: darkblue;
}
.content__text_button:active {
  background: yellow;
}

.part__text {
  margin-bottom: 30px;
}

.section2 {
  background: #333333;
  background-repeat: no-repeat;
  background-position: center 59px;
  padding: 107px 0 59px 0;
  background-image: url(../img/Line.png);
  background-size: 50% 40% 50% 60%;
}
.section2__block {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section2__container {
  width: 1320px;
  margin: 0 auto;
}
@media screen and (max-width: 1360px) {
  .section2__container {
    max-width: 1140;
  }
}

.items {
  text-align: center;
}
.items__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.items__text {
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  padding-bottom: 60px;
}

.section3 {
  position: relative;
}
.section3__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section3__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1360px) {
  .section3__photo {
    width: 1360px;
  }
}
.section3__container {
  width: 1320px;
  margin: 0 auto;
}
.section3__position {
  position: relative;
  padding: 220px 0 120px;
}
.section3__position1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 220px;
}

.block__text {
  background: rgba(35, 35, 35, 0.9);
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  max-width: 648px;
  padding: 44px 32px;
}
.block__text--left {
  margin: auto;
}
.block__text_pretitle {
  font-size: 20px;
  margin-bottom: 16px;
  letter-spacing: 0.1em;
}
.block__text_title {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.block__text_button {
  margin-top: 24px;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: #5373FD;
  border: none;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.block__text_button:hover {
  background: darkblue;
}
.block__text_button:active {
  background: yellow;
}

.section5 {
  position: relative;
}
.section5__block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section5__block_photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section5__position {
  position: relative;
  padding: 120px 0 180px;
}
.section5__container {
  width: 1320px;
  margin: 0 auto;
}
.section5__wrapper {
  display: flex;
  align-items: center;
}
.section5__wrapper_photo {
  align-self: stretch;
  display: flex;
  align-items: center;
  align-items: center;
}
.section5__wrapper_photo1 {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section5__name {
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.section5__content {
  background: #333333;
  padding: 48px 65px 48px 60px;
  width: 57.3%;
}
.section5__content_title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0 0 16px;
  text-transform: uppercase;
}
.section5__content_text {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.text__svg {
  width: 20px;
  height: 20px;
  fill: #5373FD;
  padding-right: 6px;
}
@media screen and (max-width: 1360px) {
  .text__svg {
    margin-left: 110px;
  }
}

.footer {
  width: 100%;
  background: #000000;
  text-align: center;
  padding: 80px 0;
}
.footer__container {
  width: 1320px;
  margin: 0 auto;
}
.footer__container_title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 0 0 8px;
}
.footer__container_subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__container_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.item__fb {
  width: 20px;
  height: 32px;
  fill: #FFFFFF;
}
.item__fb:hover {
  fill: #5373FD;
}
.item__fb:hover:active {
  fill: yellow;
}
.item__twitter {
  width: 32px;
  height: 32px;
  fill: #FFFFFF;
}
.item__twitter:hover {
  fill: #5373FD;
}
.item__twitter:hover:active {
  fill: yellow;
}
.item__lin {
  width: 28px;
  height: 32px;
  fill: #FFFFFF;
}
.item__lin:hover {
  fill: #5373FD;
}
.item__lin:hover:active {
  fill: yellow;
}
.item__yt {
  width: 36px;
  height: 32px;
  fill: #FFFFFF;
}
.item__yt:hover {
  fill: #5373FD;
}
.item__yt:hover:active {
  fill: yellow;
}
.item__pinterest {
  width: 31px;
  height: 32px;
  fill: #FFFFFF;
}
.item__pinterest:hover {
  fill: #5373FD;
}
.item__pinterest:hover:active {
  fill: yellow;
}/*# sourceMappingURL=style.css.map */