.header__photo {
  position: relative;
}
.header__photo--size {
  width: 1920px;
  height: 862px;
}
.header__wrapper {
  position: absolute;
  text-align: center;
  top: 295px;
  left: 530px;
}
.header__title {
  max-width: 345px;
  margin-bottom: 48px;
  margin-left: 280px;
}
.header__title--white {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.header__title--subtitle {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  color: #FFFFFF;
}
.header__block {
  width: 1920px;
  background-color: #5373FD;
}
.header__container {
  max-width: 1320px;
  margin-left: 300px;
}
.header__container--flex {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 500px;
}
.header__list {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-right: 40px;
}

.menu--inline {
  display: inline-block;
  vertical-align: middle;
}

.form {
  background-color: #FFFFFF;
  padding: 4px 5px;
  margin-left: 107px;
}
.form__button {
  width: 139px;
  height: 52px;
  left: calc(50% - 69.5px + 249.5px);
  top: 435px;
  background: #5373FD;
  border: none;
}
.form__svg {
  width: 16px;
  height: 16px;
  fill: #FFFFFF;
  margin-right: 12px;
}
.form__input {
  width: 503px;
  text-decoration: none;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
  border: none;
  outline: none;
  margin-left: 32px;
}
.form--search {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.section1__photo {
  width: 1920px;
  height: 704px;
  position: relative;
}
.section1__wrapper {
  position: absolute;
  top: 1136px;
}
.section1__wrapper1 {
  display: flex;
  align-items: center;
}

.content__left {
  width: 50%;
  margin-left: 300px;
}
.content__right {
  width: 50%;
}
.content__right_image {
  margin-left: 136px;
  margin-bottom: 16px;
}
.content__right_item {
  margin-left: 210px;
}
.content__text_title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
}
.content__text_info {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  max-width: 648px;
  margin-bottom: 32px;
}
.content__text_button {
  width: 213px;
  height: 60px;
  left: 0px;
  bottom: 0px;
  background: #5373FD;
  border: none;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.part__text {
  margin-bottom: 30px;
}

.section2 {
  background: #333333;
}
.section2__block {
  width: 1920px;
  height: 306px;
}
.section2__container {
  max-width: 1320px;
  margin-left: 301px;
}
.items__line {
  display: inline-block;
  vertical-align: middle;
}
.items__item {
  width: 64px;
  height: 64px;
  display: inline-block;
  vertical-align: middle;
}

.section3__wrapper {
  position: relative;
}
.section3__photo {
  width: 1920px;
  height: 684px;
}
.section3__container {
  max-width: 1320px;
  margin-left: 300px;
}
.section3__position {
  position: absolute;
  top: 2440px;
}
.section3__position1 {
  position: absolute;
  top: 3150px;
}

.block__text {
  padding-left: 32px;
  background: rgba(35, 35, 35, 0.9);
  width: 648px;
  height: 344px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.block__text_pretitle {
  font-size: 20px;
  padding-top: 44px;
  padding-bottom: 16px;
}
.block__text_title {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 16px;
}
.block__text_button {
  margin-top: 24px;
  width: 213px;
  height: 60px;
  left: 32px;
  bottom: 44px;
  background: #5373FD;
  border: none;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

.section5__block {
  position: relative;
  width: 1920px;
  height: 680px;
}
.section5__position {
  position: absolute;
  top: 3800px;
}
.section5__wrapper {
  display: flex;
  align-items: center;
}
.section5__wrapper_photo {
  width: 440px;
  height: 280px;
  margin-left: 300px;
}
.section5__name {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 773px;
  margin-bottom: 60px;
}
.section5__content {
  background: #333333;
  width: 885px;
  height: 280px;
  padding-left: 60px;
}
.section5__content_title {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.section5__content_text {
  max-width: 760px;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.footer {
  width: 1920px;
  height: 268px;
  background: #000000;
  text-align: center;
}
.footer__text {
  max-width: 191px;
}
.footer__text--700 {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.footer__text--400 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */