* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    text-align: center;
}
.button {
    background-color: white;   
}
.button:last-child {
    background-color: yellow;
}
.block {
    display: flex;
    flex-direction: row;    
}
.item {
    background-color: blue;
}