@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize:$pcSize - $mobSize;
    $layoutWidth:1410 - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} + ((100vw - 320px) / #{$layoutWidth}));
}
footer {
    background-color: #203657;
    padding: 60px 0;
    .footer-top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .mail, .phone {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            column-gap: 5px;
        }
        a {
            @include adaptiv-font(45,27);
            color: #fff;
            margin-bottom: 10px;
            transition: all 0.3s ease-out 0s;
            text-decoration: unset;
            font-family: "Monserrat, sans-serif";
            &:hover {
                color: rgb(163, 189, 228);
            }
        }
        span {
            font-size: 16px;
            color:#777;
            line-height: 2.2;

        }
    }
    .footer-wrapper {
        margin: 40px 0;
        position: relative;
        padding: 40px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
        .footer-content {
            min-height: 195px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 2;
            .address {
                width: 100%;
                max-width: 400px;
                h2 {
                  font-weight: 600;
                  color: #fff;
                  font-family: "Motserrat", sans-serif;
                }
                p {
                  font-weight: 600;
                  font-size: 16px;
                  color: #fff;
                  font-family: "Motserrat", sans-serif;
                  margin-bottom: 15px;
                  line-height: 26px;
                }
            }
            .social {
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    a {
                        font-weight: 400;
                        font-size: 18px;
                        color: #fff;
                        text-decoration: unset;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img {
                            width: 40px;
                            height: 40px;
                            color: #203657;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:768px) {
    footer {
        .footer-top {
        flex-direction: column;
        gap: 15px;
    }
    .footer-wrapper {
        .footer-content {
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
            padding: 15px;
        }
    }
}
}