@import "MovieList";
@import "Search";
@import "Header";
@import "Footer";
@import "Contacts";

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1410px;
    padding: 0 15px;
    box-sizing: border-box;
}
