body {
    margin: 0;
    background-color: #9789F9;
}

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
}
.main {
   width: 100%; 
   
&__container {
    width: 1200px;
    margin: 0 auto;
}
&__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
&_left {
    background: #F5F3F9;
    margin-top: 151px;
    margin-bottom: 151px;
    text-align: center;
    &:hover {
            transform: scale(1.2);
        }
    
&-up {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
}
}
}
.block {
    
&__dollar {
        font-family: 'Bebas Neue Thin';
        font-size: 24px;
        line-height: 28px;
        color: #181818;
        margin-top: -7px;
}
&__number {
        font-family: 'Bebas Neue Thin';
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0.08em;
        color: #000000;
        margin-top: 40px;
        margin-bottom: 24px;
}
&__name {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.08em;
        color: #000000;
        margin-top: 47px;
}
&__symbols {
    margin-bottom: 30px;
}
&__middle {  
        background-image: url(../img/bg-image.png);
        text-align:center;
        padding-top: 40px;        
    
&_content {    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #000000; 
        
& p {
    margin-bottom: 30px;
} 
& p:first-child {
    margin-top: 40px;
}
& p:last-child {
    padding-bottom: 60px;
}
} 

&_button {
    
    margin: 30px 84px -27px 86px;
    padding: 20px 50px 20px 50px;
            font-family: 'Bebas Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            background: #6FCFFB;
            border-radius: 30px;
    
}
}
}
