body {
    margin: 0 auto;
    background-color: #9789F9;
    
}

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
}
.main {
   width: 100%; 
   
&__container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 120px;
    @media screen and (max-width:768px) {
            width: 600px;
            padding-left: 84px;
            padding-right: 84px;

        }
    
        @media screen and (max-width:576px) {
            width: 450px;
            padding-left: 55px;
            padding-right: 55px;
        }
}
&__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

@media screen and (max-width:768px) {
        flex-direction: column;
    }
@media screen and (max-width:576px) {
    flex-direction: col;
}
    
&_left {
    background: #F5F3F9;
    margin-top: 151px;
    margin-bottom: 151px;
    text-align: center;
    flex-grow: 1;
@media screen and (max-width:768px) {
        width: 100%;
    }

    @media screen and (max-width:576px) {
        width: 100%;
    }

    &:hover {
            transform: scale(1.1);
        }
    
&-up {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
}
}
}
.block {
    position: relative;
    align-items: center;
    
&__svg {
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    left: 300px;
    top: -5px;
    
&_letter {   
    position: relative; 
    top: 35px;     
        font-family: 'Bebas Neue Book';
        font-size: 24px;
        line-height: 24px;
        color: #FFFFFF;
}
&_popular {
    position: relative;
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
        top: 24px;
}
&:hover {
    opacity: 1;
}
}

&__dollar {
        font-family: 'Bebas Neue Thin';
        font-size: 24px;
        line-height: 28px;
        color: #181818;
        margin-top: -7px;
}
&__number {
        font-family: 'Bebas Neue Thin';
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0.08em;
        color: #000000;
        margin-top: 40px;
        margin-bottom: 24px;
}
&__name {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.08em;
        color: #000000;
        margin-top: 47px;
}
&__symbols {
    margin-bottom: 30px;
}
&__middle {  
        background-image: url(../img/bg-image.png);
        align-items: center;
        text-align:center;
        padding-top: 40px; 
    
&_content {    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #000000; 
        
& p {
    margin-bottom: 30px;
} 
& p:first-child {
    margin-top: 40px;
}
& p:last-child {
    padding-bottom: 60px;
    margin: 0;
}
} 
}
}
.part {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
&__text {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            line-height: 18px;
            color: #A9A9A9;
            transition: transform 0.3s ease;
            transform: scale(0, 0);
            opacity: 0;
            padding-top: 9px;
            padding-bottom: 30px;
        
    }
&__button {
        position: absolute;
        padding: 20px 50px;
        font-family: "Bebas Neue";
        font-style: normal;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #6FCFFB;
        border-radius: 30px;
        transition: all 0.5s linear;
        bottom: -50%;
        transform: translateY(0);
}
    &:hover {
            transform: translateY(-54px);
    
            .part__text {
                    transform: scale(1, 1);
                    opacity: 1;
                    padding-top: 47px;
            }
    
            .part__button {
                background-color: #fd8d7b;
                transform: translateY(-112px);
            }
        }
}
