.footer {
    background: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
    
    &__container {
        width: 770px;
        margin: 0 auto;
    }
&__logo {
    padding-top: 203px;
    margin-bottom: 41px;
}
&__wrapper {
        display: flex;
        justify-content: space-between;
        
&_left {
        &-text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            padding-bottom: 234px;
        }
}
&_right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    &-socials {
        width: 40px;
        height: 40px;
        border: 1px solid #FFFFFF;
        border-radius: 30px;
        svg {
            padding-top: 13px;
            padding-left: 13px;
        }
    &:hover {
        background-color: orange;
    }
    }
}
}
}