.section1 {
    text-align: center;
    position: relative;

    &__after {
        &_wrapper {
            position: relative;
            padding-top: 57px;
        
        &::after {
            content: "";
            background-color: #55B7FF;
            height: 470px;
            max-width: 585px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    &--right {
        
        &::after {
            content: "";
            background-color: #7E5AFF;
            height: 470px;
            max-width: 585px;
            width: 100%;
            position: absolute;
            top: -57px;
            right: 0;
        }
    }
    }
}           
&__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
&__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: #2C4058;
        position: relative;
        margin-top: 130px;
        margin-bottom: 90px;
    &::before {
        content: "";
        color: #2C4058;
        height: 1px;
        border: solid;
        width: 100px;        
        position: absolute;
        top: -30px;
        left: 538px;
    }
}
&__wrapper {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    gap: 70px;
    position: relative;    
    z-index: 1;
&_pretitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: #2C4058;
}
&_title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: #2C4058;
}
&_text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #2C4058;
        margin-top: 19px;
        margin-bottom: 40px;
}
&_button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 1px solid #2C4058;
    width: 40%;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 17px;
    margin-bottom: 60px;
&:hover {
        background-color: rgb(186, 174, 230);
    }
}
&_location {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
        display: flex;
        gap: 10px;
}
&_down {
    order: 1;
}
&_photo {
    order: 2;
    img {
    height: auto;
    }
}
}
}
.sectiondown {
    margin-top: 177px;
    margin-bottom: 150px;
}
.section1__wrapper_text {
    max-width: 476px;
    width: 100%;
}
.section1__wrapper_picture {
    img {
    max-width: 630px;
    width: 100%;
}
}
@media (max-width: 1024px) {
    .section1__wrapper {
    flex-direction: column;
    }
    .section1__after_wrapper--right::after {
        top: 380px;
        left: 0;
    }
    .section1__title::before {
        left: 430px;
    }
}
@media (max-width: 920px) {
.section1__title::before {
    left: 400px;
}
}
@media (max-width: 786px) {
    .section1__title::before {
        left: 340px;
    }
    }
    @media (max-width: 580px) {
        .section1__title::before {
            left: 250px;
        }
        }    
