.header {
    background-image: url(../img/Background\ \(1\).png);

    &__container {
    @include container;
    margin: 0 auto; 
    text-align: center;
    align-items: center;   
}
&__wrapper {
    @include flex;
    justify-content: space-between;
    padding-top: 53px;
}
&__socials {
    @include flex;
    justify-content: space-between;
    gap: 20px;
    
&_item {
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding-top: 11px;

}
}
&__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        color: #FFFFFF;
        margin-top: 223px;
        margin-bottom: 20px;
}
&__subtitle {
        padding-bottom: 240px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
}
&__scroll {
    padding-bottom: 45px;
&_down {
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;  
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center
}

}
}
.menu {
    
&__content {
    @include flex;
    justify-content: space-between;
    gap: 70px;    
    
&_item {
        list-style: none;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
&-svg {
    margin-right: 14px;
}
}
}

}