.header {
    background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
    position: relative;
    height: 100vh;
    
&__photo {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
img {
    width: 100%;
    height: 100%;
}
}
&__container {
    @include container;
    margin: 0 auto; 
    text-align: center;
    align-items: center; 
    position: relative;  
    height: 100vh;
}
&__wrapper {
    @include flex;
    justify-content: space-between;
    padding-top: 53px;
}
&__socials {
    @include flex;
    justify-content: space-between;
    gap: 20px;
    
&_item {
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding-top: 11px;
    
&:hover {
    background-color: orange;
}
}
}
&__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        color: #FFFFFF;
        margin-top: 223px;
        margin-bottom: 20px;
}
&__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
&__scroll {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    
&_down {
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;  
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center
}
}
}
.menu {
    
&__content {
    @include flex;
    justify-content: space-between;
    gap: 70px;    
    
&_item {
        list-style: none;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
&:hover {
    text-decoration: underline;
    }
&-svg {
    margin-right: 14px;
&:hover {
    fill: #FFFFFF;
}
}
}
}
}

.header__slider .slick-dots {
    bottom: 0;
    right: 52px;
    top: 0;
    display: flex;
    flex-direction: column;
    width: unset;
    justify-content: center;
}

.header__slider.slick-dotted.slick-vertical {
    margin: 0;
}

.header__slider .slick-dots li button:before {
    content: unset;
}

.header__slider .slick-dots button {
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    transition: background-color .3s ease;
}

.header__slider .slick-dots .slick-active button {
    background-color: #fff;
}

.header__slider .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 20px 0;
}
