@mixin container {
    max-width: 1170px;
    width: 95%;
    margin: 0 auto;
}
@mixin flex {
    display: flex;
}
@mixin relative {
    position: relative;
}
@mixin absolut {
    position: absolute;    
}

