.section {

&__container {
    @include container;
    @media screen and (max-width:$tablet) {
            max-width: unset;
            width: 100%;
            padding: 0 34px;
        }
        @media screen and (max-width:$mobile) {
            max-width: unset;
            width: 100%;
            padding: 0 10px;
        }
&_pretitle {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.5em;
        color: $black;
        margin: 38px 0;
@media screen and (max-width:$tablet) {
                margin: 18px 0;
        }

        @media screen and (max-width:$mobile) {
                margin: 18px 0;
        }
}
&_title {
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: $black;
        margin-bottom: 70px;
@media screen and (max-width:$tablet) {
                font-size: 33px;
                line-height: 50px;
                margin-bottom: 50px;
        }

        @media screen and (max-width:$mobile) {
                font-size: 33px;
                line-height: 50px;
                margin-bottom: 40px;
}
}
&_subtitle {
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: $black;
        margin-top: 90px;
        margin-bottom: 50px;
@media screen and (max-width:578px) {
                margin-top: 70px;
                margin-bottom: 40px;
        }
}
&_text {
        max-width: 570px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: $grey;
    @media screen and (max-width:$tablet) {
           max-width: unset;         
        }
        @media screen and (max-width:$mobile) {
           max-width: unset;         
        }
&-space {
    margin-bottom: 40px;
}
}
&_photo {
    &--size {
           
@media screen and (max-width:$tablet) {
                width: 700px;
                height: 380px;
        }
@media screen and (max-width:$mobile) {
        width: 300px;
        height: 300px;
}
& img {
        max-width: 100%;
}
}
}
}
}