.container {
    max-width: 793px;
    text-align: center; 
    font-family: 'Roboto';
    font-style: normal;
}
header {
    background-color: #4A4F56;
    padding: 19px 0 12px;
}
header h2 {
    margin: 0 0 4px;
    color: #FF8984
}
header h3 {
    margin: 0;
    color: #FF8984
}
body {
    display: block;
    margin: 0;
}
main {
    background-color: #3B3F45;
    text-align: center;
}
.line,
.line2,
.line4 {
    background-color: #88839E;
    max-width: 534px;    
}
.line1,
.line5 {
    background-color: #7A7593;
    max-width: 534px;
}
.line_1 {
    box-shadow:;
}
.line3 {
    background-color: #625E77;
    max-width: 534px;
    border-style: solid;
    border-color: #FFFFFF;
    border-left: none;
    border-right: none;
}
input[type="checkbox"]:checked~label {
    text-decoration-line: line-through;
    color: #FFFFFF
}
.line:hover {
    border: 1px solid white;
}
.line1:hover {
    border: 1px solid white;
}
.line2:hover {
    border: 1px solid white;
}
.line3:hover {
    border: 1px solid white;
}
.line4:hover {
    border: 1px solid white;
}
.line5:hover {
    border: 1px solid white;
}
label {
    color: white 
}
.last-block {
    background-color: #4A4F56;
    max-width: 534px;
    text-align: center;
    color: #FF8984;
}
span {
    font-size: large;
}
