* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration:none;
    text-align: center;
    color: gray;
    padding-bottom: 4px;
    padding-right: 40px;
}
li:last-child {
    padding-right: 0;
}
a[href~="Home"] {
    color: black;
}
.container {
    max-width: 970px;
    margin: 0 auto;
    text-align: center;          
}
.container-gray {
    background: #F6F6F6;
    text-align: center;    
}
.section {
    padding: 100px;
}
.about-me p {
    margin-top: 30px;
    }
.about-me p:nth-child(2) {
    margin-top:0%;
}
.about-me p:nth-child(4) {
    margin-top: 0%;
}
.about-me p:nth-child(6) {
    margin-top: 0%;
}
.photo {
    margin-bottom: 0px;
}
h2 + p {
    margin-top: 20 px;
}
h2 + div {
    margin-top: 50px;
}
.box {
    margin-top: 50px;
    padding-bottom: 100px;
}
.box p {
    margin-top: 25px;
    margin-bottom: 60px;
}
.skills {
    margin-right: 97px;
}
.skills:last-child {
    margin-right: 57px;
}
div h2 {
    padding-top: 100px;
    margin-bottom: 20px;
}
h1 {
    text-align: left;
    font-size:xx-large;
}
.ending {
    color: gray;
    font-size: smaller;
    text-align: center;
}
button {
    background-color: black;
    color: white;
    border-radius: 22px;  
    padding: 10px 16px;
    border: unset;
    text-align: center;
    letter-spacing: 0,1em;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin: 60px 0 30px;
}
a[href~="#"] {
    color: rgb(77, 74, 74);
    text-decoration-line: underline;
}
