* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 
}
.animation {   
    max-width: 200px;
}
.title {
    padding-left: 5px;
    padding-bottom: 30px;
}
.title_down {
    padding-left: 115px;
}
.pik-1--rotate {
    transform: rotate(180deg);
    width: 15px;
    height: 15px;
    margin-bottom: -5px;
}
.down_text {
    transform: rotate(180deg);
    margin-right: 5px;
}
.pik-1 {
    width: 15px;
    height: 15px;
}
.pik-2 {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.center {
    text-align: center;
}
.container {
    max-width: 140px;
    margin: 0 auto;
    height: 200px;   
    border: 2px solid black;
    border-radius: 6px;  
}
.card {
    position: relative;
    height: 200px;
    margin-bottom: 10px;    
}
.card--front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(0);
    transition: all 0.8s ease;
}
.card--back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: all 0.8s ease;    
    margin-left: 10px;
}
.card:hover .card--back {
    transform: rotateY(0);
}
.card:hover .card--front {
    transform: rotateY(180deg);
}
.cover {
    height: 100%;
    width: 100%;
}


