* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    background-color: #FFFFFF;
}
.container {
    max-width: 1200px;
    margin: 0 auto;    
}
li {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
.eng {
    margin-top: 29px;
    margin-bottom: 30px;
    padding-right: 50px;
    font-family: 'Tourney', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;       
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.header--text {
    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
    mix-blend-mode: normal;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding-right: 600px;
}
.konstruct {
    max-width: 120px;
}
.header div {    
    display: inline-block;    
}
.header {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    padding: 13px 0;
}
.title {
    display: flex;
    align-items: flex-start;
    margin-top: 70px;
    margin-bottom: 40px;
    font-family: 'Francois One', sans-serif;
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;         
    letter-spacing: 0.04em;
}
.title_2 {
    font-family: 'Farro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin-left: 10px;
    text-transform: none;
}
.text--underline {
    text-decoration: underline;
}
.text--italic {
    font-style: italic;
}
.text--bold {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
.text--gray {
    background-color: #DADADA;
}
.section_three div,
.section_four div {
    margin-bottom: 40px;
}
