.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.movies .movie img {
  width: 100%;
  height: auto;
}

.search {
  background-color: rgb(163, 189, 228);
}

header {
  background-color: #203657;
}
header .container {
  display: grid;
  grid-template-columns: 150px 1fr 200px;
  align-items: center;
  min-height: 80px;
}
header .container .logo {
  width: 100%;
}
header .container nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
header .container nav ul {
  display: flex;
  max-width: 400px;
  width: 100%;
  justify-content: space-between;
}
header .container nav a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
header .container .btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
header .container .btn img {
  width: 24px;
  height: 24px;
}
header .container .btn a {
  color: #fff;
  text-decoration: unset;
}
header .burger-menu {
  flex-direction: column;
  gap: 10px;
}
header .burger-menu span {
  width: 35px;
  height: 2px;
  background-color: #fff;
}

@media (max-width: 768px) {
  header .container {
    grid-template-columns: 150px 1fr 50px;
    grid-template-areas: "logo btn burger" "menu menu menu";
    grid-template-rows: 80px auto;
  }
  header .container .logo {
    grid-area: logo;
  }
  header .container .btn {
    grid-area: btn;
  }
  header .container nav {
    grid-area: menu;
    display: none;
  }
  header .container .burger-menu {
    grid-area: burger;
    display: flex;
    align-items: center;
  }
  header.active .container nav {
    grid-area: menu;
    display: flex;
  }
  header.active .container nav ul {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }
}
footer {
  background-color: #203657;
  padding: 60px 0 0;
}
footer .footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer .footer-content .logo {
  text-decoration: unset;
  color: #fff;
}
footer .footer-content .logo img {
  width: 100%;
  max-width: 150px;
}
footer .footer-content .logo h2 {
  font-size: 24px;
}
footer .footer-content .address {
  width: 100%;
  max-width: 400px;
}
footer .footer-content .address h2 {
  font-weight: 600;
  color: #fff;
  font-family: "Motserrat", sans-serif;
}
footer .footer-content .address p {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  font-family: "Motserrat", sans-serif;
  margin-bottom: 15px;
  line-height: 26px;
}
footer .footer-content .social ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-content .social ul a {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-decoration: unset;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-content .social ul a img {
  width: 34px;
  height: 34px;
}
footer .footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: #fff;
}
footer .footer-copyright a {
  color: #fff;
  text-decoration: unset;
  margin: 0 5px;
  font-weight: 900;
}

@media (max-width: 768px) {
  footer .footer-content {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
.contact-page {
  background-color: #5f646e;
  color: #fff;
  text-align: center;
}
.contact-page .form-item .error-message {
  margin-bottom: 10px;
  color: rgb(239, 91, 91);
}
.contact-page .form-item input {
  margin-bottom: 15px;
}
.contact-page .form-item textarea {
  margin-bottom: 15px;
}
.contact-page .button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #203657;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
}
.contact-page .button:hover {
  background-color: #96b5d0;
}
.contact-page .button:focus {
  outline: none;
}
.contact-page .button:active {
  transform: translateY(1px);
}
.contact-page .content p {
  margin-bottom: 20px;
}
.contact-page h2 {
  margin-bottom: 30px;
  padding-top: 30px;
  font-size: 24px;
}

.form-item input,
.form-item textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

.form-item.errors input,
.form-item.errors textarea {
  border-color: red;
}

.about {
  background-color: #5f646e;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1410px;
  padding: 0 15px;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
